/* Base Styles */
body {
    background-color: #0D1117;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Main Text Section Styles */
.top {
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 110vh;
}

.main_text {
    text-align: center;
    width: 90%;
    height: 45vh;
    padding-bottom: 10vh;
    font-size: 120%;
}

#toptxt {
    color: white;
    font-family: 'Source', monospace;
}

#greeting {
    color: rgb(0, 255, 0);
    font-family: 'Source', monospace;
    font-size: large;
    padding: 5px;
    margin: 0;
    white-space: pre;
}

/* Font Faces */
@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Black.ttf) format('truetype'),
         url(assets/fonts/Roboto-Medium.ttf) format('truetype'),
         url(assets/fonts/Roboto-Thin.ttf) format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'Source';
    src: url(assets/fonts/SourceCodePro-Black.ttf) format('truetype');
}

/* Useful Links Section Styles */
.links_uteis {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.links_uteis ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.links_uteis li {
    margin: 0 10px;
}

.links_uteis a {
    color: white;
    font-size: 40px;
    text-decoration: none;
}

/* About Me Section Styles */
.aboutme {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Alterado para coluna */
}

.naosei {
    background-color: #010409;
    width: 97%;
    height: 74vh;
    border-radius: 10px;
    border: 0.26vh solid #30363D;
    display: flex;
    flex-direction: column; /* Alterado para coluna */
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 100%; /* Ajuste para largura total */
    justify-content: center;
    align-items: center;
    display: flex;
}

.image-container img {
    max-width: 90%;
    height: auto;
    border-radius: 5px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 20px;
    height: auto;
    row-gap: 5vh;
}

.text-container p {
    margin: 0;
    color: #ffffff;
    font-family: 'Source', monospace;
    font-size: 140%;
}

/* Media Queries for Responsiveness */
@media only screen and (min-width: 770px) {
    .aboutme, .naosei {
        flex-direction: row;
    }
    .image-container {
        width: 50%; /* Metade da largura para desktops */
    }
    .text-container {
        width: 50%; /* Metade da largura para desktops */
    }
}
