.center-items{
    display: flex;
    justify-content: center;
    align-items: center;
}

.game-config-imput{
    border: solid 2px gray;
    border-radius: 10px;
    width: 15vw;
    height: 9vw;
    background-color: whitesmoke;
}
.game-config-imput:focus{
    outline: none;
}

.table-top-lines{
    display: flex;
    gap: auto;
}

.bombCell {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #b0b0b0; 
    box-sizing: border-box; 
    font-size: 1rem; 
    padding: 0px;
    border: solid 1px rgb(58, 58, 58);
}

.type-button-flag-click{
    width: 17vw;
    height: 10vw;
    border: 0px;
    border-radius: 8px;
    background-color: #ccc;
}
.type-button-flag-click:active{
    background-color: GRAY;
}

.black-screen {
    display: none; /* Oculto por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    text-align: center;
    z-index: 1000; /* Garante que fique acima de tudo */
}





