@media (max-width: 1080px) {

    #table-top{
        width: 100vw;
        height: 100vw;
        border-radius: 0px;
    }

    #game-config{
        margin-top: 40px;
        flex-direction: column;
        gap: 2vh;
    }
}