@media (max-width: 480px) {

    #table-top{
        width: 100vw;
        height: 100vw;
        border-radius: 0px;
    }

    #game-config{
        margin-top: 30px;
        flex-direction: column;
        gap: 1vh;
    }
}