<header class="header">
    <link rel="stylesheet" href="../../css/styles/bodybaseheader.css">
    <ul class="header-h-list">
        <a class="headerbutton" href="index.html">About Me</a>
        <a class="headerbutton" href="games.html">Games</a>
        <a class="headerbutton" id="littleprojectsbutton" href="littleprojects.html">Little Projects</a>
    </ul>

    <div id="header-rest">
        <div id="headerconfig">
            <a href="" id="config-img">
                <img id="img-config-header" src="assets/imgs/config2.png" alt="config-img" >
            </a>
        </div>
    </div>
</header>