body {
    background-color: #0D1117;
    width: auto;
    align-items: center;
    justify-content: center;

    .main_text{
        padding-top: 12vh;
    }
    h1{
        font-family: 'Source', monospace;
        color: white;
        text-align: center;
    }
    h2{
        font-family: 'Source', monospace;
        color: white;
        text-align: center;
    }
    h3{
        font-family: 'Source', monospace;
        color: white;
        text-align: center;
    }
    h4{
        font-family: 'Source', monospace;
        color: rgb(0, 255, 0);
        text-align: center;
        font-size: large;
    }
}
@font-face {
    font-family: 'Roboto';
    src: url(assets/fonts/Roboto-Black.ttf) format('Roboto-Black');
    src: url(assets/fonts/Roboto-Medium.ttf) format('Roboto-Medium');
    src:  url(assets/fonts/Roboto-Thin.ttf) format('Roboto-Thin');
    font-weight: normal;
    font-size: normal;
}
@font-face {
    font-family: 'Source', monospace;
    src: url(assets/fonts/SourceCodePro-Black.ttf) format('Source-Black');
}
#greeting {
    border-right: 2px solid black; 
    font-family: monospace;        
    padding: 5px;                  
    margin: 0;                     
    white-space: pre;             
}


.links_uteis ul {
    list-style: none; /* Remove os marcadores da lista */
    padding: 0;
    height: 15vb;
}

.links_uteis li {
    padding: 5px; /* Adiciona espaço ao redor dos itens da lista */
}

.links_uteis a {
    text-decoration: none; /* Remove o sublinhado dos links */
    color: white; /* Define a cor do texto */
    font-size: 40px; /* Tamanho do texto */
}

.links_uteis i {
    margin-right: 5px; /* Adiciona espaço entre o ícone e o texto */
}
.links_uteis{
    display: flex;
    align-items: center;
    justify-content: center;
}


ul.horizontal-list {
    padding: 0;  /* Remove o padding padrão */
    list-style-type: none;  /* Remove os marcadores de lista */
    align-items: center;
    justify-content: center;
}

ul.horizontal-list i {
    align-items: center;
    justify-content: center;
    display: inline;  /* Alinha os itens da lista lado a lado */
    /* Ou use 'display: inline-block' se precisar de propriedades de bloco como 'margin', 'padding', etc. */
    padding: 12px;  /* Espaçamento entre os itens da lista */
}

div.aboutme {
    background-color: #010409;
    width: 100%; /* Assume a largura total do contêiner, se é isso que você deseja */
    height: 90vh; /* Correto para usar 'vh' se você quer que o elemento ocupe 90% da altura da viewport */
    display: flex; /* Usa Flexbox para alinhar os filhos horizontalmente */
    justify-content: center; /* Centraliza os itens horizontalmente */
    align-items: center; /* Centraliza os itens verticalmente */
}



ul {
    list-style-type: none; /* Remove todos os tipos de marcadores */
}

/* Ou especificamente removendo o marcador usando ::marker */
ul li::marker {
    content: none; /* Remove o marcador */
}


.naosei{
    display: flex;
    background-color: #010409;
    width: 190vb;
    height: 94vb;
    border-radius: 10px;
    border: 0.26vb solid #30363D;
}