/* Base Styles */
body {
    background-color: #0D1117;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    font-family: 'Source', monospace;
}
/* Main Text Section Styles */
.top {
    justify-content: center;
    align-items: flex-start;
    display: flex;
    width: 100%;

}

.main_text {
    text-align: center;
    padding-top: 15vh;
    width: 90%;
    height: 45vh;
    font-size: 120%;
}

#toptxt {
    color: white;
    font-family: 'Source', monospace;
}

#greeting {
    color: rgb(0, 255, 0);
    font-family: 'Source', monospace;
    font-size: large;
    padding: 5px;
    margin: 0;
    white-space: pre;
}

/* Useful Links Section Styles */
.links_uteis {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.links_uteis ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.links_uteis li {
    margin: 0 10px;
}

.links_uteis a {
    color: white;
    font-size: 40px;
    text-decoration: none;
}

/* About Me Section Styles */
.aboutme {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; /* Alterado para coluna */
}

.naosei {
    background-color: #010409;
    width: 97%;
    height: 74vh;
    border-radius: 10px;
    border: 0.26vh solid #30363D;
    display: flex;
    flex-direction: column; /* Alterado para coluna */
    justify-content: center;
    align-items: center;
}

.image-container {
    width: 100%; /* Ajuste para largura total */
    justify-content: center;
    align-items: center;
    display: flex;
}

.image-container img {
    max-width: 90%;
    height: auto;
    border-radius: 8px;
}

.text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
    padding: 20px;
    height: auto;
    row-gap: 5vh;
}

.text-container p {
    margin: 0;
    color: #ffffff;
    font-family: 'Source', monospace;
    font-size: 140%;
    text-align:start;
    padding-right: 15%;
}


/* Media Queries for Responsiveness */
@media only screen and (min-width: 770px) {
    .aboutme, .naosei {
        flex-direction: row;
    }
    .image-container {
        width: 50%; /* Metade da largura para desktops */
    }
    .text-container {
        width: 50%; /* Metade da largura para desktops */
    }
}

@media only screen and (max-width: 770px){
    .aboutme {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Alterado para coluna */
    }
    .naosei {
        background-color: #010409;
        width: 97%;
        height: 97vh;
        border-radius: 10px;
        border: 0.26vh solid #30363D;
        display: flex;
        flex-direction: column; /* Alterado para coluna */
        justify-content: center;
        align-items: center;
        row-gap: 3vh;
    }
    .text-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 70%;
        padding: 20px;
        height: auto;
        row-gap: 5vh;
    }
    .text-container p {
        margin: 0;
        color: #ffffff;
        font-family: 'Source', monospace;
        font-size: 140%;
        text-align: center;
        padding-right: 0vw;
    }
    .horizontal-list{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 10px;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-width: 480px){
    .aboutme {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Alterado para coluna */
    }
    .naosei {
        background-color: #010409;
        width: 97%;
        height: 100vh;
        border-radius: 10px;
        border: 0.26vh solid #30363D;
        display: flex;
        flex-direction: column; /* Alterado para coluna */
        justify-content: center;
        align-items: center;
        row-gap: 3vh;
        
    }
    .text-container p {
        margin: 0;
        color: #ffffff;
        font-family: 'Source', monospace;
        font-size: 110%;
        text-align: center;
        padding-right: 0vw;
    }
    .horizontal-list{
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        margin: 0 10px;
        justify-content: center;
        align-items: center;
    }
}
@media only screen and (max-height: 699px){
    .top {
        justify-content: center;
        align-items: flex-start;
        display: flex;
        width: 100%;
        height: 140vh;
    }
    .aboutme {
        width: 100%;
        height: 120vh;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column; /* Alterado para coluna */
    }
    .naosei {
        background-color: #010409;
        width: 97%;
        height: 210vh;
        border-radius: 10px;
        border: 0.26vh solid #30363D;
        display: flex;
        flex-direction: column; /* Alterado para coluna */
        justify-content: center;
        align-items: center;
        row-gap: 3vh;
        
    }
    .text-container p {
        margin: 0;
        color: #ffffff;
        font-family: 'Source', monospace;
        font-size: 110%;
        text-align: start;
    }
}
@media only screen and (max-height: 999px){
    .top {
        justify-content: center;
        align-items: flex-start;
        display: flex;
        width: 100%;
        height: 110vh;
    }
}
